.account-settings__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/stitch_watching.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;

    .container {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form__container {
            width: 351px;
            border-radius: 8px;
            padding: 0 20px 20px 20px;

            form {

                h1 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    text-align: center;
                }

                label {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 20px;
                    display: inline-block;
                }

                button {
                    border: none;
                    border-radius: 8px;
                    padding: 0.5rem 0.75rem;
                    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
                    line-height: 1.5;
                }

                .footer {
                    width: fit-content;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

}

@media (min-width: 560px) {

    .account-settings__wrapper {
        background-size: 450px;
    }
}