.trainings-history__wrapper {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .control-panel {
            width: 100%;
            display: flex; 
            flex-direction: column;
            align-items: center;
        }
    }
}

.trainings-history__datepicker {
    justify-self: center;
}

.trainings-history__view-controller {
    align-self: end;
}